<h1>Your Calendar</h1>

<button class="logout-btn" (click)="logout()">Logout</button>

@if (isHomePage) {
  <div class="add-day-container">
    <input type="date" [(ngModel)]="selectedDate" />
    <button class="add-day-btn" (click)="addDay()">+ Add New Day</button>
  </div>
  
  @if (showTimePicker) {
    <div class="time-picker">
      <h3>Select Time Range for {{selectedDate}}</h3>
      <label>
         Start time:
         <input type="time" [(ngModel)]="tempStartTime">
      </label>
    
      <label>
         End time:
         <input type="time" [(ngModel)]="tempEndTime">
      </label>
      <div class="confirm-row">
        <button class="confirm-time-btn" type="button" (click)="confirmTimeRange()">Confirm</button>
      </div>
    </div>
  }

  <div style="text-align:center; margin-bottom: 16px;">
    <label>
      <input type="checkbox" [(ngModel)]="sortRecentFirst" (change)="toggleSortRecent()"/>
      Show recent days first
    </label>
  </div>

  <div class="days-container">
    @for (day of days; track day.date) {
      <div class="day-tile" (click)="goToDay(day.date)">
        <h3>{{day.date}}</h3>
        <p>{{ formatHourString(day.startTime) }} - {{ formatHourString(day.endTime) }}</p>
      </div>
    }
    @if (days.length === 0) {
      <p style="text-align: center; margin-top: 20px; color: #666;">No trips have been planned yet. Please add a day.</p>
    }
  </div>
}

@if (!isHomePage) {
  @for (day of days; track day.date) {
    <div class="day-card">
      <h3>{{day.date}} Schedule</h3>
      @if (!day.isEditingTime) {
        <p>
          <b>{{formatHourString(day.startTime)}} - {{formatHourString(day.endTime)}}</b>
        </p>
        <button class="edit-time-btn" (click)="startEditTime(day)">
          Edit time range
        </button>
      }

      @if (day.isEditingTime) {
        <div class="time-edit-row">
          <input type="time" [(ngModel)]="day.tempStartTime">
          <input type="time" [(ngModel)]="day.tempEndTime">

          <button class="save-btn" (click)="saveTimeRange(day)">Save</button>
          <button class="cancel-btn" (click)="cancelEditTime(day)">Cancel</button>
        </div>
      }

        <button
          class="delete-day-btn"
          (click)="deleteDay(day)">
          Delete Day
        </button>

      <div class="schedule">
        @for (slot of day.slots; track slot.hourLabel) {
          <div class="hour-row">
            <div class="hour-label">
              {{ slot.hourLabel }}
            </div>

            <div class="activities-column">
              @for (act of slot.activities; track act.name) {
                <div class="activity-summary">
                  @if (!act.isEditing) {
                    <strong>{{ act.name }}</strong><br />
                    <div class="activity-time">
                      {{ formatHourString(act.start!) }} - {{ formatHourString(act.end!) }}<br />
                    </div>
                    <div class="activity-budget">  
                      <b>Expected budget: </b>${{ act.budget }}
                    </div>

                    <button class="edit-btn" (click)="editActivity(act)">
                      Edit
                    </button>

                    <button
                      class="delete-btn"
                      (click)="deleteActivity(day, slot, act)">
                      Delete
                    </button>
                  }
                  @if (act.isEditing) {
                    <input
                      type="text"
                      [(ngModel)]="act.temp!.name"
                      placeHolder="Activity name"
                    />
                    
                    <input type="time" [(ngModel)]="act.temp!.start" />
                    <input type="time" [(ngModel)]="act.temp!.end" />

                    <input
                      type="number"
                      [(ngModel)]="act.temp!.budget"
                      placeholder="Expected budget"
                    />

                    <button class="save-btn" (click)="saveEditedActivity(day, slot, act)">
                      Save
                    </button>

                    <button class="cancel-btn" (click)="cancelEditActivity(act)">
                      Cancel
                    </button>
                  } 
                </div>
              }
            </div>

            @if (slot.isEditing) {
              <div class="activity-form">
                <input
                  type="text"
                  placeholder="Activity"
                  [(ngModel)]="slot.tempActivity.name"
                />

                <input
                  type="time"
                  [(ngModel)]="slot.tempActivity.start"
                />

                <input
                  type="time"
                  [(ngModel)]="slot.tempActivity.end"
                />

                <input
                  type="number"
                  placeholder="Expected budget"
                  [(ngModel)]="slot.tempActivity.budget"
                />

                <button class="save-btn" (click)="saveActivity(slot)">
                  Save
                </button>
              </div>
            }

            <!-- Adds more activities -->
            <div class="add-activity-wrapper"> 
              <button class="add-activity-btn" *ngIf="!slot.isEditing" (click)="slot.isEditing = true">
                + Add Activity
              </button> 
            </div>
            </div>
          }
      </div>
    </div>
  }

  <div class="next-prev-buttons">
        <button class="add-day-btn" [routerLink]="['/home']">Back to Home</button>
  </div>
}