.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    font-size: 18px;
}

.close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}